@import '../../vars';

.go-back-area {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 100vh;
    width: 64px;
    background: $secondary-surface-color;
    cursor: pointer;
    user-select: none;
    border: none;
}
