@import '../../vars';

.side-menu {
    position: fixed;
    height: 100vh;
    width: 310px;
    background: $secondary-surface-color;
    padding: 20px 10px;

    &__profile-link {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: $secondary-text-color;
        text-decoration: none;

        &::after {
            content: '';
            background-image: url('../../assets/icons/chevron-right.svg');
            background-size: cover;
            width: 6px;
            height: 10px;
        }
    }

    &__profile-link-container {
        display: flex;
        justify-content: space-between;
    }

    &__create-chat {
        background: none;
        border: none;
        border-radius: 100px;
        margin-left: 10px;
        cursor: pointer;
    }

    &__create-chat-icon {
        display: block;
    }
}

.chat {
    position: relative;
    padding: 0 21px;
    margin-left: 310px;
    height: 100vh;
}

.chat-image {
    height: 47px;
    width: 47px;
    border-radius: 47px;
    background: $chat-list-item-image-placeholder-color;
}

.chat-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 55px;
    width: calc(100% - 352px);
    top: 0;
    background: $primary-surface-color;
    border-bottom: $third-party-color 1px solid;

    &__content {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__name {
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        color: $primary-text-color;
    }

    .chat-image {
        height: 34px;
        width: 34px;
    }
}

.chat-header-actions {
    position: relative;
    list-style: none;
}

.chat-header-actions-item {
    &__content {
        display: none;
        padding-top: 25px;
        right: 0;
        position: absolute;
    }

    &:hover {
        .chat-header-actions-item__content {
            display: block;
        }
    }
}

.chat-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    padding-top: 55px;
    padding-bottom: 55px;
}

.menu-button {
    border: none;
    background: none;
    display: block;
    cursor: pointer;

    &__image {
        display: block;
    }
}
