@import '../../vars';

.chat-input-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    bottom: 0;
    width: calc(100% - 352px);
    height: 55px;
    background: $primary-surface-color;
    border-top: $third-party-color 1px solid;

    &__clip-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__input {
        width: 100%;
        height: 32px;
        padding: 0 20px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        border-radius: 30px;
        border: none;
        background: #404040;
        outline: none;
        color: $primary-text-color;
    }

    &__send-button {
        width: 28px;
        height: 28px;
        background: none;
        border: none;
        cursor: pointer;
    }
}
