@import '../../vars';

.add-user-to-chat-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: $primary-surface-color;
    border-radius: $surface-border-radius;
    max-height: 500px;
}

.user-search-input {
    margin-top: 40px;
}

.user-list {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
