@import '../../vars';

.chat-menu {
    // position: absolute;
    // right: 0;
    min-width: max-content;
    background: $secondary-surface-color;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}

.chat-menu-button-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
