$primary-text-color: #e7e7e7;
$secondary-text-color: #c9c9c9;
$primary-color: #3369f3;
$on-primary-color: #fff;
$primary-surface-color: #2f3031;
$secondary-surface-color: #2a2a2a;
$error-color: #ff5959;
$third-party-color: #818181;
$chat-list-item-hover-color: #3a3a3a;
$chat-list-item-image-placeholder-color: #606468;
$chat-outgoing-message-color: #4e78c3;
$surface-border-radius: 12px;
$button-border-radius: 8px;
$box-shadow: 0 0 6px 0 rgb(0 0 0 / 30%);
$font-family: 'Inter', sans-serif;
$clip-icon: url('../../assets//icons/clip-icon.svg');
$arrow-right-icon: url('../../assets/icons/arrow-in-circle-right.svg');
