$primary-text-color: #E7E7E7;
$secondary-text-color: #C9C9C9;
$primary-color: #3369F3;
$on-primary-color: #FFFFFF;
$primary-surface-color: #2F3031;
$secondary-surface-color: #2A2A2A;
$error-color: #FF5959;
$third-party-color: #818181;
$chat-list-item-hover-color: #3A3A3A;
$chat-list-item-image-placeholder-color: #606468;
$chat-outgoing-message-color: #4E78C3;

$surface-border-radius: 12px;
$button-border-radius: 8px;
$box-shadow: 0px 0vpx 6px 0px rgba(0, 0, 0, 0.30);

$font-family: 'Inter', sans-serif;