@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2f3031;
    font-family: $font-family;
    color: $primary-text-color;
}

input {
    font-family: $font-family;
    font-weight: 500;
}

.clickable {
    cursor: pointer;
}
