@import "../../vars";

.link {
  color: $primary-color;
  font-size: 12px;
  text-decoration: none;
  line-height: 16px;
  font-weight: 500;

  &_underlined {
    text-decoration: underline;
  }

  &_danger {
    color: $error-color;
  }
}
